<!doctype html>
<html>
<head>
  <meta charset="utf-8">
 <title>一个博客——很多照片</title>
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="200" src="assets/i/1.png"/>
        <h1 class="am-hide-sm-only">一个博客</h1>
    </div>
</header>
<!-- header end -->
<hr>

<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="am-active"><a href="/">首页</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    一个点击 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="/">一个点击内容</a></li>
                    <li><a href="/">两个点击内容</a></li>
                    <li><a href="">三个点击内容</a></li>
                    <li><a href="">四个点击内容</a></li>
                </ul>
            </li>
            <li><a href="/article">一个文章</a></li>
            <li><a href="/img">很多照片</a></li>
            <li><a href="/fullwidth">放大的一个文章</a></li>
            <li><a href="/log">一个登录</a></li>

        </ul>
    </div>
</nav>
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
  <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
      <div id="container">          
          <div><img src="assets/i/01.jpg"><h3>Agfa</h3></div>
          <div><img src="assets/i/02.jpg"><h3>Auto</h3></div>
          <div><img src="assets/i/03.jpg"><h3>Bald eagle</h3></div>
          <div><img src="assets/i/04.jpg"><h3>Black swan</h3></div>
          <div><img src="assets/i/05.jpg"><h3>Book shelf</h3></div>
          <div><img src="assets/i/06.jpg"><h3>Camera</h3></div>
          <div><img src="assets/i/07.jpg"><h3>Camera</h3></div>
          <div><img src="assets/i/25.jpg"><h3>Vintage camera</h3></div>
          <div><img src="assets/i/09.jpg"><h3>Coffee</h3></div>
          <div><img src="assets/i/10.jpg"><h3>Cookies</h3></div>
          <div><img src="assets/i/11.jpg"><h3>Cubes</h3></div>
          <div><img src="assets/i/12.jpg"><h3>DJ</h3></div>
          <div><img src="assets/i/13.jpg"><h3>Doors</h3></div>
          <div><img src="assets/i/14.jpg"><h3>Matchbox</h3></div>
          <div><img src="assets/i/15.jpg"><h3>Freiburg</h3></div>
          <div><img src="assets/i/16.jpg"><h3>Henna</h3></div>
          <div><img src="assets/i/17.jpg"><h3>Home office</h3></div>
          <div><img src="assets/i/18.jpg"><h3>iPad</h3></div>
          <div><img src="assets/i/19.jpg"><h3>Keyboard</h3></div>
          <div><img src="assets/i/20.jpg"><h3>Lynx</h3></div>
          <div><img src="assets/i/21.jpg"><h3>Mac</h3></div>
          <div><img src="assets/i/22.jpg"><h3>Notebook</h3></div>
          <div><img src="assets/i/23.jpg"><h3>Thoughts</h3></div>
          <div><img src="assets/i/24.jpg"><h3>Office</h3></div>
          <div><img src="assets/i/25.jpg"><h3>Children</h3></div>
          <div><img src="assets/i/26.jpg"><h3>Portrait</h3></div>
          <div><img src="assets/i/27.jpg"><h3>Startup</h3></div>
          <div><img src="assets/i/28.jpg"><h3>Sun</h3></div>
          <div><img src="assets/i/29.jpg"><h3>The Eiffel Tower</h3></div>
          <div><img src="assets/i/30.jpg"><h3>Water drops</h3></div>
          
    </div> 
  </figure>

</div>
<!-- content end -->
<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>这是一个标题</h3>
            <p class="am-text-sm">这是一个博客的句子<br> 这是一个博客的句子 <br> 这是一个博客的句子<br>这是一个博客的句子<br><br>
                这是一个博客的句子</p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>社交账号</h3>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
            </p>
            <h3>Credits</h3>
            <p>从没有白费的努力，也没有碰巧的成功。只要认真对待生活，终有一天，你的每一份努力，都将绚烂成花</p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h1>我们站在巨人的肩膀上</h1>

        </div>
    </div>
    <div class="blog-text-center">©TYT的改动 一个博客 2018.9.3</div>
</footer>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/pinto.min.js"></script>
<script src="assets/js/img.js"></script>
</body>
</html>